*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
   
}
.box{
    display: block;
    font-size: 30px;
    
}

   
.input{
    width: 250px;
    display: block;

}
.titulo{
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.button{
    margin: 1rem;
    background-color: rgba(141, 124, 124, 0);
    padding: 10px;
    border-radius: 20px;
    border: solid 3px black;
}
.button:hover{
    transition: 0.5s;
    background-color: rgba(95, 158, 160, 0.596);
}

